.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container label {
    width: 500px; 
    margin-right: 10px;
    font-weight: bold;
  }
  
  .input-field {
    flex: 1;
    padding: 8px;
    border: 1px solid #fcfcfc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 86%;
    padding: 15px 0;           
    font-size: 1rem;
    background: #7eadda;
    border: none;
    border-radius: 10px;       
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #42a5f5; 
  }
  
